body{
background-color: rgb(48, 68, 101);
background-image: url(./assets/images/hehehehe.png);
background-repeat: no-repeat;
background-size: auto;
}

div{display: block;
    
}
#main{color: #ff54d5;}
#linki{color: #ff54d5;}
.nuru{color:#ff8de3;}
.null a{color: cadetblue;font-style: oblique;}
.nururu{color: #a7dff4;}
div a{color:#FF9DF0;}
img{width: 200px;height: 200px;
    border-radius: 50px;

}
*{text-align: center;}