html{background: #014C8F;}
#main{color: #ff54d5;}
#linki{color: #ff54d5;}
.nuru{color:#ff8de3;}
.null{color: #5768D2;font-style: oblique;}
.nururu{color: #a7dff4;}
a{color:#FF9DF0;}
img{width: 200px;height: 200px;}
*{text-align: center;}