html{background-color: black;
}
div{
    width: 200px;
    height: 238px;
    margin-left: 200px;
    border: 5px solid white;
}
h1{color: white;
 font-family: 'Playfair Display', serif;
 font-weight: 100;
 font-size: 30px;
}
p{color: white;
 font-size: xx-small;
 font-family: 'Playfair Display', serif;
 font-weight: 50;
}
*{text-align: center;}
